body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex; /* Enables flexbox for layout */
  align-items: center; /* Aligns content vertically */
}

.header__logo {
  margin-right: 10px; 
  width: 7%;
  padding : 1%;
}

.header__title {
  font: 500;
  /* Remove flex property */
}

ul {
  list-style-type: none; /* Remove default bullets */
  /* Optional: Remove default padding and margin */
  padding: 0;
  margin: 0;
  align-items: left;
  justify-content: flex-start;
}
